* {
  font-size: 18px;
  line-height: 1.4;
  font-family: Helvetica;
}

/* MAIN BANNER AND HEADER */

.main-banner {
  display: flex;
  background-image: url("../resources/images/glasses-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 30rem;
}

.container {
  width: 960px;
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: cadetblue;
  /* margin-top: 1rem; */
  position: relative;
  top: 1rem;
}

.logo {
  display: flex;
  align-items: center;
  margin-left: 2rem;
  color: white;
}

.logo img {
  height: 1.5rem;
  margin-right: 1rem;
  margin-bottom: 0;
}

.nav li {
  display: inline;
  margin-right: 2rem;
}

.nav a {
  color: white;
  text-decoration: none;
}

.banner-container {
  display: flex;
  justify-content: flex-end;
}

.banner-text {
  display: inline-block;
  background-color: white;
  color: black;
  padding: 1.5rem 5rem 1.5rem 5rem;
  margin-top: 10rem;
  margin-right: -2rem;
}

.banner-text h1 {
  text-align: right;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
}

/* ICONS SECTION*/

.icons-box {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 5rem;
  height: 8rem;
  margin: 3rem;
  text-align: center;
}

.icon, img {
  width: 5rem;
  margin-bottom: 1rem;
}

.icon-paper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 5rem;
  height: 8rem;
  margin: 3rem;
  text-align: center;
}

.icon-paper img {
  width: 3.5rem;
}

/* PHILOSOPHY AND APPOINTMENTS */
.philosphy-app-box {
  display: flex;
}

.philosphy-app-box .title {
  display: block;
  font-weight: bold;
  background-color: cadetblue;
  color: white;
  padding: 0.5rem 1.25rem;
  margin-bottom: 1rem;
}

.philosophy {
  display: block;
  width: 35%;
  margin-right: 10%;
}

.appointments {
  display: block;
  width: 35%;
}

/* FOOTER */

.footer {
  display: flex;
  align-items: center;
  background-color: azure;
  color: black;
}

.footer img {
  padding: 4rem 1rem 4rem 4rem;
  margin-bottom: 0;
}

.footer div {
  display: block;
}
